*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'poppin',sans-serif;

}

body{
    background-image: url(../image/body.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}

.container_home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card{
    width: 500px;
    height: 250px;
    position: relative;
    border: 1px solid gray;
    border-radius: 8px;
    color: #fff;
    backdrop-filter: blur(15px);
}

.container-card h1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
    font-weight: 600;
}

.container-card div {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

div a{
    padding: 8px;
    border-radius: 6px;
    color: #fff;
    background: rgb(228, 37, 69);
}









/* @media (min-width:320px) and (max-width:) {
    
} */