*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'poppin',sans-serif;

}

body{
    background-image: url(../image/body.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
    background-repeat: no-repeat;
}

h1{
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    transition: 0.3s;
    color: white;
}

div{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

div a{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 8px;
    color: white;
    background: rgb(247, 5, 106);
    font-size: 16px;
    cursor: pointer;
}

div a:hover{
    background: rgb(110, 18, 67);
}